/*/ MAIN CSS FILE /*/
main {
    display: flex;
    flex-wrap: wrap;
}

section {
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: lightcyan;
    border: solid 2px lightsalmon;
}

.images {
    height: 300px;
}

.paragraph {
    height: 300px;
    margin: 0px 20px;
    width: 300px;
}

footer {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.footer-p {
    text-align: center;
}

.header-h1 {
    text-align: center;
    color: red;
}